{% extends 'learning_logs/base.html' %}

{% block page_header %}

  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
        <h1 class="display-3">Dog Walk Log</h1>

        <p class="lead">Welcome to Dog Walk Log!

          Easily stay updated on your dog's care. Log in to see:
          
          Dog Walks: View walk dates and charges.
          Dog Boarding: Track boarding details and costs.
          Notes: Stay informed with personalized updates about your dog.
          Sign up today for hassle-free tracking and peace of mind!</p>
            <a href="https://github.com/mfigueiredo1/learning_log" target="_blank">github.com/mfigueiredo1/learning_log</a></p>
            Link to personal music page
            <a href="https://www.mikefigueiredo.com" target="_blank">Click Here
            </a></p>
        <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'accounts:register' %}">Register &raquo;</a>
    </div>
  </div>

{% endblock page_header %}
