{% extends 'learning_logs/base.html' %}

{% block page_header %}

  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
        <h1 class="display-3">Dog Walk Log</h1>

        <p class="lead">Welcome to Dog Walk Log!</p>
        <ul style="font-family: inherit;"></ul>
          <li>Dog Walks: View walk dates and charges.</li>
          <li>Dog Boarding: Track boarding details and costs.</li>
          <li>Notes: Stay informed with personalized updates about your dog.</li>
        </ul>
        <p class="lead">Sign up today</p>
        <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'accounts:register' %}">Register &raquo;</a>
        <p class="lead mt-3">Developed by Michael Figueiredo</p>
        <a href="https://github.com/mfigueiredo1/learning_log" target="_blank">github.com/mfigueiredo1/learning_log</a>
        <hr>
        <a href="https://www.linkedin.com/in/michael-figueiredo-9b3918239" target="_blank">https://www.linkedin.com/in/michael-figueiredo-9b3918239</a>
    </div>
  </div>

{% endblock page_header %}
